/* Banner Styles */
.banner {
  width: 100%;
  height: 52.5625px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(81, 104, 255, 1);
  overflow: hidden;
  margin-top: 0;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://i.imgur.com/qF5Q7AN.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerText {
  position: relative;
  z-index: 1;
  color: #F3F3F3;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: var(--font-primary);
}

