.banner {
  display: flex;
  height: auto;
  padding: 10px 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  border: 2px solid var(--color-primary);
  background: var(--gradient-futuristic-floss);
  border-radius: 10px;
  box-shadow: 0px 1px 10.4px 0px rgba(46, 44, 166, 0.40);
  margin: 0 20px;
  width: 100%;
  align-self: center;
}

.title {
  font-family: var(--font-secondary);
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-text-dark);
  margin: 0;
}

.text {
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: var(--font-weight-regular);
  color: var(--color-text-dark);
  line-height: 1.5;
  margin: 0;
}

